/*-------------Generals-------------*/
h1{
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
body{
     font-family: Roboto,Arial,sans-serif;
    }
    .Container{
        width: 80%;
        margin:auto;
        overflow: hidden;
    }
    /*-------------Header-------------*/
    nav{
        position: fixed;
        top: 0;
    
        height: 90px;
        background-color: #3c3129;
        width: 100%;
        margin: 0;
        background-attachment: scroll;
    }
    li a{
      color:white;
      text-decoration:none;
    }
    nav li{
      color:white;
      transition-duration:0.5s;
    }
    nav li:hover{
      color:orange;
      transition-duration:0.5s;
    }
    .Logo{
        height: 90px;
        width: 400px;  
    }
    .Logo img{
        height: 100%;
    }
    nav ul{
        margin-top: 30px;
        margin-right: 40px;
        color: #eeeeee;
        display:inline-block;
        float: right;
    }
    nav li{
        padding-right: 30px;
        display: inline;
    }
    header{
        margin-top: 0;
        height: 1000px;
        background-image: url(./white-1772985_1920.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .Title{
        padding-top: 200px;
        margin-top: 90px;
        color: #3c3129;
        font-size: 122pt;
        text-shadow: 2px 2px  whitesmoke;
    }
    .Subtitle{
        color: #3c3129;
        font-weight: 100;
        font-size: 40pt;
        text-transform: uppercase;
        text-shadow: 2px 2px  whitesmoke;
    }
    
    /*-------------About me-------------*/
    
    #about_me{
        background-color: #eeeeee;
        height: 920px;
    }
    
    #about_me .container{
        height: 920px;}
    h2{
        font-size: 40pt;
        font-weight: 300;
        text-align: center; 
        text-transform: uppercase;
        margin-top: 100px;
        color: #3c3129;
    }
    .profil{
        margin-top: 100px;
        margin-left: 130px;
        height: 341px;
        width: 341px;
        background-image: url(./Logo.PNG);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
    }
    .profil:before{
        transform:translateZ(0%);
    }

    #about_me p{
        margin-top: 12%;
        margin-right: 5%;
        display: inline-block;
        float: right;
        width: 46%;
        color: #999999;
        font-size: 15pt;
    }
    
    /*-------------Animate portfolio-------------*/
    
    .profil:after{
          transform:translateZ(100%);
      
    }
    
    /*-------------portfolio-------------*/
    #portfolio ul{
        margin-bottom: 10%;
        margin-top: 10%;
        margin-left: 10%
    }
    #portfolio li{
        display: inline-block;
        position: relative;
        overflow: hidden;
    }
    /*-------------Animate portfolio-------------*/
    .info{
        background-color: rgba(25,21,21,.8);
        color:#eeeeee;
        text-align: center;
        font-size: 30px;
        padding-top: 20px;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        transform: translateY(100%);
         transition-duration: 1s;
    }
    
    #portfolio li:hover .info{
        transform: translateY(50%);
        transition-duration: 1s;
    }
    /*-------------Contact-------------*/
    #Contact{
        background-color: #eeeeee;
        height: 842px;
    }
    
    form{
        margin-top: 80px;
        text-align: center;
        display: block;
        
    }
    input[type=text]{
        border: none;
    width: 600px;
        margin-bottom: 40px;
        height: 75px;
        border-radius: 20px;
        color: #999999;
        font-size: 20px;
        padding-left: 10px;
    }
    
    input[type=email]{
      
        border: none;
    width: 600px;
        height: 75px;
        margin-bottom: 40px;
        border-radius: 20px;
        color: #999999;
        font-size: 20px;
        padding-left: 10px;
    }
    textarea{
        border: none;
        width: 600px;
        height: 75px;
        margin-bottom: 40px;
        border-radius: 20px;
        color: #999999;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    input[type=submit]{
        border: none;
        width: 300px;
        height: 75px;
        margin-bottom: 40px;
        border-radius: 20px;
        color: #eeeeee;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #3c3129;
    }
    /*-------------foooter-------------*/
    footer{
        background-color: #3c3129;
        height: 40px;
        color: #eeeeee;
    }
    footer a{
      color: white;
      float:left;
      padding-right: 30px;
    }
    /*-------------Media devices-------------*/
    @media(max-width: 900px){
    .Logo{
        height: 50%;
    }
    header{
        height: 300px;
        background-size: contain;
    }
    .hero h1{
        font-size: 20px;
    }
    .hero {
        top: 0;
    }
    h2{
        font-size: 40px;
        margin-top: 50px;
    }
    .profil{
        margin-top: 50px;
        margin-left: 35%;
        height: 150px;
        width: 150px;
        background-image: url(../images/IMG_20170118_185042_448.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
    }
    #about_me p{
        display: inline-block;
        width: 100%;
        margin-left:50%;
        padding-top: 50%;
    }
    #about_me{
        height: 720px;
    }
    #portfolio ul{
        margin-bottom: 10%;
        margin-top: 10%;
        margin-left: 0%;
    }
    #portfolio li{
        display: inline-block;
        
    }
    input[type=text]{
    width:500px;
        margin-bottom: 40px;
        height: 75px;
        border: none;
        border-radius: 20px;
        color: #999999;
        font-size: 20px;
        padding-left: 10px;
    }
    
    input[type=email]{
    width: 500px;
        border: none;
        height: 75px;
        margin-bottom: 40px;
        border-radius: 20px;
        color: #999999;
        font-size: 20px;
        padding-left: 10px;
    }
    textarea{
        border: none;
        width: 500px;
        height: 75px;
        margin-bottom: 40px;
        border-radius: 20px;
        color: #999999;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    input[type=submit]{
        width: 300px;
    }
}